footer{
    background-color: limegreen;
}

.big{
    font-size: medium;
}

.list{
    list-style: none;
}


.images{
    display: flex;
    justify-content: center;
}

.icon{
    margin: 4%;
    padding: 1px;
}

.icon:hover{
    background-color: white;
    border-radius: 45%;
}

.listel{
    margin: 5%;
    
}

.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.down{
    padding-top: 4%;
}